.site-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 1000;
  transition: all 1s ease-in;

  a {
    color: $white;
  }

  .site-branding {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // z-index: -5;

    img {
      width: 2rem; //png logo
    }
  }

  .site-title {
    font-size: calc(1rem + 1vw);
    margin: 0 0.5rem 0;
  }
}

@media screen and (min-width: 800px) {
  .site-header {
    flex-direction: row;

    .site-branding {
      left: 1rem;
      transform: translateX(0);

      img {
        width: 3rem;
      }
    }
  }
}

// style changes when header scrolled
.header-scrolled.site-header {
  background: #fffbf1f2;
  box-shadow: 0 1px 2px $box__shadow;
  transition: all 1s ease-in;

  a {
    color: $color__text-main;
  }

  .hamburger-button {
    background: $color__text-main;
  }

  .toggled {
    a {
      color: $white;
    }

    .hamburger-button {
      background: $white;
    }
  }
}

// site branding color fix when nav open
.toggled-header .site-branding a {
  color: $white;
}
