a {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

// :visited on footer
footer li > a {
	&:visited {
		color: $color__link-visited;
		fill: $color__link-visited;
	}
}

// :hover on CTA shopify
.cta-shopify a {
	transition: all 0.5s 0s ease;
	&:hover {
		// color: $white;
		background-color:$white;
	}
}